@keyframes biocontainer {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }


.biocontainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(42, 42, 42);
    animation-name: welcomeanim;
    animation-duration: 2s;
}

.myimage{
    transform-style: preserve-3d;
    perspective: 500px;
    height: 560px;  
    transition: 0.5s;
}

.myimage img{
    width: 420px;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.myimage:hover img {
    transform: rotateX(-180deg);
}
.img-back h3{
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 2.8rem;
}
.img-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 560px;
    padding-top: 38%;
    background: rgb(18, 18, 18);
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.myimage:hover .img-back{    
    transform: rotateX(0deg);
}

a .fa{
    font-size: 50;
    color:white;
    text-align: center;
    transition: 0.08s;
}
.links{
    margin: 80px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    
}
i{
    font-size: 25px !important;
}

a:hover .fa{
    transform: scale(1.5); 
}

.mybio{
    width: 420px;
}

.mybio h2{
    font-weight: 700;
    width: 69px;
    
    padding-bottom: 20px;
    border-bottom: 5px solid white;
}
.mybio p{
    padding-top: 69px;
}
.mybio p::first-letter{
    font-size: 2rem;
}

.biocontainer{
    color: white;
}

.achievemento{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    padding-top: 80px;
    background: rgb(42, 42, 42);
    animation-name: welcomeanim;
    animation-duration: 2s;
    color: white;
}

.achievemento h3{
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 5px solid white;
    width: 80%;
}

.ach-container{
    margin: 0 5%;
    padding: 80px 0;
}
.ach{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.ach-content{
    width: 350px;
}
.ach-content h4{
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    font-weight: 700;
}
.ach-content p{
    padding-top: 10px;
}
#achpix{
    width: 42%;
    height: 42%;
}
a .ach{
    color: white;
}
a .ach:hover{
    background: #d8616118;
}

.ach-logos{
    margin: 0 2%;
    padding: 80px 0;
    color:white;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0;
}

.logo{
    width: 225px;
    height: 225px;
    box-shadow: 10px 10px 18px 2px #111111;
}

a:hover{
    color: #d86161 !important;
}
.logos p{
    color: white;
    text-align: center;
    font-weight: 700;
}
.fullres{
    display: none;
    padding-top: 35%;
    height: 225px;
    position: relative;
    bottom: 100%;
    background: rgba(8, 8, 8, .8);
    margin: 0;

}

.logos a{
    height: 225px;
}

.logos a:hover .fullres{
    display: block;
}