body{
    background-color: rgb(38, 38, 38);
    font-family: 'Roboto', sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(38,38,38); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff7675; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 118, 117,0.75); 
  }


input{
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    width: 420px;
    height: 35px;
    text-align: right;
}

textarea{
    background-color: rgb(68, 68, 68);
    width: 420px;
    color:white;
    border: none;
    text-align: right;
}

select {
    border:none;
    outline: none;
}
select:focus > option:checked { 
    background: #d86161 !important;
}

.submitbtnA input {
    background-color: #d86161 !important;
    color:white;
    border: none;
    width: 160px;
    height: 35px !important;
}
.submitbtn input {
    background-color: #d86161 !important;
    color:white;
    border: none;
    width: 160px;
    height: 35px !important;
    text-align: center;
}
.inputItem label {
    position: relative;
    color:rgb(90, 90, 90);
    bottom: 30px;
    left: 8px;
    width: 420px;
    margin: 0;
    text-align: left;
    font-size: 13px;
  }

  .inputitem label {
    position: relative;
    left: 0px;
    width: 400px;
    margin: 0;
    text-align: left;
    font-size: 13px;
  }

  .message label{
      position: relative;
      bottom: 180px !important;
  }
  
  .labelYo{
      display: inline-block;
  }

  input:focus ~ label{
    visibility: hidden;
  }
  
  textarea:focus ~ label{
    visibility: hidden;
    z-index: -1;
  }

  .connect{
      display: block;
  }

  @media (max-width: 550px) {
        input{
            width: 300px !important;
        }  
        textarea{
            width: 300px !important;
        }  
        label{
            width: 300px !important;
        }  
        select{
            width: 300px !important;
        } 
        .connect{
            display: none;
        }
    }

    @media (max-width: 400px) {
        input{
            width: 180px !important;
        }  
        textarea{
            width: 180px !important;
        }  
        label{
            width: 180px !important;
        }  
        select{
            width: 180px !important;
        } 
        .connect{
            display: none;
        }
    }

.w-100 {
    height:500px !important;
    object-fit: cover;
  }