

.gameitem{
    width: 75%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    box-shadow: 10px 10px 18px 2px #111111;
    object-fit: cover;
}
@media (max-width: 780px) {
    .achievemento h3{
        border-bottom: none;
        width: 80%;
    }  
}

a:hover{
    color: #d86161 !important;
}
