
.logoitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.logoitem{
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 18px 2px #111111;
    object-fit: cover;
    margin: 35px;
}

a:hover{
    color: #d86161 !important;
}


.logoitems a{
    height: 100%;
    margin: 25px 0;
    transition: 0.28s;
}

.logoitems a:hover .fullreslogos{
    display: block;
}
.logoitems a:hover{
    transform: scale(1.18);
}