.navbar{
    margin-left: 12%;
    margin-right: 12%;
    overflow: hidden;
}

header{
    width: 100%;
}

.nav-item{
    font-size: 13px;
    width: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    display: block;
}
.navbar-dark .navbar-nav .active>.nav-link, .nav-link.active{
    color: #ff7675;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}

.navbar-toggler {
    padding: .45rem .45rem;
    font-size: 1.05rem;
    line-height: 1;
    background-color: #ff7675;
    border: none;
}

a.nav-link{
    text-align: center;
}

.container, .navigationbar{
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.navbar-brand{
    width: 100px;
}

#Layer_1{
    width: 30%;
    height: auto;
}
