
  @supports not (display: grid) {
    body:before {
      content: "Your browser does not support the CSS grid spec - so that won't be super interesting! Also, I have only played with it in Firefox Nightly.. Results may vary in other browsers! :)";
      color: #fff;
      background: #ff6347;
      padding: 2rem;
      text-align: center;
      display: block;
    }
  }
  .grid {
    display: grid;
    padding: 0;
    margin: 0;
    padding-bottom: 200px;
    grid-template-columns: repeat(3, 25vw);
    grid-auto-rows: 25vw;
    grid-auto-flow: dense;
    justify-content: center;
    border-bottom: 1px solid rgb(58, 58, 58);
  }
  
  @media (min-width: 16rem) {
    .grid {
      grid-template-columns: repeat(1, 40vw);
      grid-auto-rows: 40vw;
    }
  }
  @media (min-width: 26rem) {
    .grid {
      grid-template-columns: repeat(1, 40vw);
      grid-auto-rows: 40vw;
    }
  }
  @media (min-width: 50rem) {
    .grid {
      grid-template-columns: repeat(2, 35vw);
      grid-auto-rows: 35vw;
    }
  }
  @media (min-width: 60rem) {
    .grid {
      grid-template-columns: repeat(2, 35vw);
      grid-auto-rows: 35vw;
    }
  }
  @media (min-width: 80rem) {
    .grid {
      grid-template-columns: repeat(3, 25vw);
      grid-auto-rows: 25vw;
    }
  }
  .grid__item {
    list-style: none;
    height: 100%;
    padding: 15px;
  }
  .grid__item--wide {
    grid-column: auto/span 2;
  }
  .grid__item--tall {
    grid-row: auto/span 2;
  }
  .grid__item--big {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
  .grid__image {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .grid__image:hover {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
  }
  